body {
    background-color: rgba(20, 71, 122, 0.284);
}
form {
    background-color: rgb(100, 237, 162);
    padding: 15px;
  }
  
  body {
    background-color: darkcyan;
    width: 30%;
    margin: auto;
  }
  
